@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgb(0, 209, 181);
}
html {
  scroll-behavior: smooth;
}
.primaryButton {
  border: 1.75px solid var(--main-color);
}
.primaryButton:hover {
  color: white;
  background-color: var(--main-color);
}
.secondaryButton {
  border: 1.75px solid white;
}
.secondaryButton:hover {
  color: var(--main-color);
  background-color: white;
}

.primaryText {
  color: var(--main-color);
}

.primaryBackground {
  background-color: var(--main-color);
}
.sectionPadding {
  padding: 2rem 3rem 2rem 3rem;
}
.input {
  width: 75%;
  border: 1px solid black;
  margin-top: 1rem;
  padding: 1% 2% 1% 2%;
  border-radius: 0.5rem;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: var(--main-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.projectLink:hover{
  text-decoration: underline;
}